body {
	font-family: Arial, "Dejavu Sans", Helvetica, sans-serif;
	font-size: 8vw;
	color: white;
	position: relative;
}

#quote {
	text-align: center;
	margin: 0;
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
}
