body {
	font-family: Comic Sans, Arial, "Dejavu Sans", Helvetica, sans-serif;
	font-size: 9vw;
	color: white;
	position: relative;
}

#quote {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
