#quote {
    font-family: Arial, "Dejavu Sans", Helvetica, sans-serif;
    color: white;
	text-shadow: 1px 1px black;
    font-size: 6vw;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (orientation: portrait) or (aspect-ratio: 2/3) {
    #quote {
        font-size: 10vw;
    }
}
